<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" time-out="1000" >
	<test thread-count="5" name="Chrome Test">
		<parameter name="browser" value="chrome" />
		<parameter name="username" value="odobbs" />
		<parameter name="password" value="t3stf1rst" />
		<classes>
			<class name="com.qa.tests.LoginPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
